body{
    background-color: #25A9FC;
}

.box{
    position: relative;
    margin: auto;
    display: block;
    top: 45vh;
    width: 60vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
}

.head{
    position: absolute;
    /* top: 16.5vmin;
    left: 25vmin; */
    width: 30vmin;
    height: 30vmin;
    background: #A6BECF;
    border-radius: 50%;
}

.head-copy{
    position: absolute;
    widows: 30vmin;
    height: 30vmin;
    background: #A6BECF;
    border-radius: 50%;
    z-index: 2;
}

.left-ear,.right-ear{
    position: absolute;
    width: 20vmin;
    height: 20vmin;
    background: #A6BECF;
    border-radius: 50%;
    z-index: -1;
    top: .7vmin;
}

.left-ear{

    left: -5.6vmin;
    

}

.right-ear{
    right: -5.6vmin;
}

.inner-ear{
    position: absolute;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background: #819CAF;
}

.left-eye{
    position: absolute;
    background: white;
    width: 30%;
    height: 33%;
    top: 25%;
    left: 21%;
    border-radius: 50%;
    z-index: 3;
}

.right-eye{
    position: absolute;
    background: white;
    width: 30%;
    height: 33%;
    top: 25%;
    right: 21%;
    border-radius: 50%;
    z-index: 2;
}

.inner-eye{
    position: absolute;
    width: 28%;
    height: 30%;
    top: 35%;
    left: 36%;
    border-radius: 50%;
    background: #27354A;
}

.nose{
    position: absolute;
    background: #BE845F;
    width: 25%;
    height: 42.5%;
    left: 37%;
    top: 45%;
    border-radius: 50px;
    z-index: 4;

}

.hair-left{
    position: absolute;
    top: -8%;
    left: 30%;
    width: 20%;
    height: 20%;
    background: #A6BECF;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.hair-right{
    position: absolute;
    top: -4%;
    left: 48%;
    width: 20%;
    height: 20%;
    background: #A6BECF;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}