#cityscape
cityscape/style/style.scss
cityscape/style/style.css.map

#Doremon
Doremon/style/style.scss
Doremon/style/style.css.map

#love_bus
love_bus/style/style.scss
love_bus/style/style.css.map

#pokeBall
pokeBall/style/style.scss
pokeBall/style/style.css.map
pokeBall/pic/

#pokedex
pokedex/pic/Details/
pokedex/style/
pokedex/css/style.scss
pokedex/css/style.css.map
pokedex/css/flipDoor.scss
pokedex/css/flipDoor.css.map
pokedex/pokedexSVG/
pokedex/debug.log

#Polaroid
Polaroid/style/style.scss
Polaroid/style/style.css.map

#main
style/style.scss
style/style.css.map