:root {
  --position: 20%;
  --pokedex-width: 310px;
  --pokedex-height: 500px;
  --border: 2.3px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.referrence {
  position: absolute;
  bottom: 0px;
  font-size: large;
}

.referrence a {
  text-decoration: none;
  color: blue;
}

.referrence a:focus {
  color: blueviolet;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 750px;
  height: 650px;
  position: relative;
  margin-top: 70px;
}

.pokedex {
  position: absolute;
  width: var(--pokedex-width);
  height: var(--pokedex-height);
  left: 10%;
}

.outer {
  width: var(--pokedex-width);
  height: var(--pokedex-height);
  background-color: #ff0000;
  border: var(--border) solid black;
  border-radius: 10px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;
}

.svg-top {
  position: absolute;
  top: -5px;
  left: 0;
}

.top-lights {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  border: calc(var(--border) - 1.7px) solid black;
  background-color: white;
  top: 28px;
  left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-lights .inner-light {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  border: calc(var(--border) - 1.7px) solid black;
  background: #e1edf4;
  background: radial-gradient(circle, #e1edf4 5%, #e1edf4 calc(var(--position) - 15%), #f8f8f8 var(--position), #0fadfe 70%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e1edf4",endColorstr="#0fadfe",GradientType=1);
}

.inner-light-gradient {
  -webkit-animation: gradient .6s 2;
          animation: gradient .6s 2;
  -webkit-transition: -webkit-animation 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-animation 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: animation 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: animation 1s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-animation 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@-webkit-keyframes gradient {
  0%, 100% {
    --position: 0%;
  }
  20%, 80% {
    --position: 20%;
  }
  30%, 70% {
    --position: 30%;
  }
  40%, 60% {
    --position: 40%;
  }
  50% {
    --position: 50%;
  }
}

@keyframes gradient {
  0%, 100% {
    --position: 0%;
  }
  20%, 80% {
    --position: 20%;
  }
  30%, 70% {
    --position: 30%;
  }
  40%, 60% {
    --position: 40%;
  }
  50% {
    --position: 50%;
  }
}

.lights {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 110px;
  top: 6px;
}

.red-light, .yellow-light, .green-light {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin: .5px;
  border: calc(var(--border) - 1.8px) solid black;
}

.red-light {
  background: #f3f3f3;
  background: radial-gradient(circle, #f3f3f3 7%, #b80808 42%);
}

.yellow-light {
  background: #f3f3f3;
  background: radial-gradient(circle, #f3f3f3 12%, #bbbf08 59%);
}

.green-light {
  background: #f3f3f3;
  background: radial-gradient(circle, #f3f3f3 12%, #197102 58%);
}

.main-border {
  width: calc(var(--pokedex-width) - 57px);
  height: calc(var(--pokedex-height) - 180px);
  bottom: 15px;
  left: 14.79px;
  position: absolute;
  border: var(--border) solid black;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-color: transparent;
}

:root {
  --display-width: calc(var(--pokedex-width) - 120px);
  --diplay-height: calc(var(--pokedex-height) - 340px);
}

.display {
  width: var(--display-width);
  height: var(--diplay-height);
  left: 30px;
  top: -20px;
  position: absolute;
  border: calc(var(--border) - 1.6px) solid black;
  z-index: 1;
  border-radius: 5% 5% 5% 18% / 5% 5% 5% 18%;
  background-color: white;
}

.d1 {
  top: -16px;
  left: 34px;
}

.indicators {
  position: relative;
  width: 130px;
  height: 20px;
  top: 0px;
  left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.light {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e60000;
  border: calc(var(--border) - 1.7px) solid black;
}

.indicate {
  -webkit-animation: indicate 1s;
          animation: indicate 1s;
}

@-webkit-keyframes indicate {
  0% {
    background-color: yellow;
  }
  25% {
    background-color: #e60000;
  }
  50% {
    background-color: yellow;
  }
  75% {
    background-color: #e60000;
  }
  100% {
    background-color: yellow;
  }
}

@keyframes indicate {
  0% {
    background-color: yellow;
  }
  25% {
    background-color: #e60000;
  }
  50% {
    background-color: yellow;
  }
  75% {
    background-color: #e60000;
  }
  100% {
    background-color: yellow;
  }
}

.screen {
  width: calc(var(--display-width) - 50px);
  height: calc(var(--diplay-height) - 70px);
  background-color: black;
  border: 0.3px solid black;
  border-radius: 1px;
  position: absolute;
  left: 25px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.power-light {
  position: absolute;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  bottom: 15px;
  left: 20px;
  background-color: #e60000;
  border: 0.3px solid black;
}

.power-light:hover {
  background-color: #ff4d4d;
}

.stripes {
  position: relative;
  left: 140px;
  top: 105px;
}

.stripe {
  width: 35px;
  height: 0;
  border-bottom: 2.38px solid black;
  margin-bottom: 2.5px;
  border-radius: .2px;
}

.main-border .lights {
  position: relative;
  top: 162px;
  width: 80px;
  left: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-border .lights .light-indi {
  width: 34px;
  height: 5px;
  border: 0.3px solid black;
  border-radius: 2px;
}

.main-border .lights .red {
  background-color: #d60000;
}

.main-border .lights .blue {
  background-color: darkblue;
}

.power-button {
  --px: 35px;
  width: var(--px);
  height: var(--px);
  border-radius: 50%;
  background-color: #333333;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  bottom: 90px;
  left: 20px;
  position: absolute;
}

.power-button:hover {
  background-color: #666666;
}

.green-box {
  width: 70px;
  height: 43px;
  position: absolute;
  border: 0.3px solid black;
  left: 70px;
  bottom: 37px;
  background-color: green;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.green-box:hover {
  background-color: #004d00;
}

.volume-up {
  color: white;
  font-size: larger;
}

.movement {
  position: relative;
  top: 230px;
  right: -185px;
}

.Blink {
  background-color: white !important;
}

.circle {
  --px: 25px;
  width: var(--px);
  height: var(--px);
  border-radius: 50%;
  background-color: #333333;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle:hover .small-circle {
  background-color: white;
  opacity: 1;
}

.right, .left, .up, .down {
  position: absolute;
  width: 27px;
  height: 34px;
  background-color: #333333;
  border-radius: 21% 21% 50% 50% / 13% 13% 33% 33%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 175ms cubic-bezier(0, 0, 1, 1);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.right:hover .triangle, .left:hover .triangle, .up:hover .triangle, .down:hover .triangle {
  background-color: white;
  opacity: 1;
}

.small-circle {
  --px: 10px;
  width: var(--px);
  height: var(--px);
  border-radius: 50%;
  opacity: .5;
  background-color: whitesmoke;
}

.up {
  top: -30px;
  left: -1px;
  border-right: 0.5px solid black;
}

.up:hover {
  -webkit-transform: translate(0 30px);
          transform: translate(0 30px);
}

.left:active {
  -webkit-transform: translate(0 50px);
          transform: translate(0 50px);
}

.right {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  left: 25.5px;
  top: -3.5px;
  border-top: 0.5px solid black;
  border-right: 0.5px solid black;
}

.left {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: -27px;
  top: -3.5px;
  border-left: 0.5px solid black;
}

.down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 21px;
  left: -1px;
  border-top: 0.5px solid black;
  border-left: 0.5px solid black;
}

.triangle {
  --px: 10px;
  width: var(--px);
  height: var(--px);
  opacity: .5;
  background-color: whitesmoke;
  -webkit-clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
          clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
  left: 8.2px;
  top: 8px;
  position: absolute;
}

:root {
  --cylinder-width: 40px;
  --cylinder-left: 265.5px;
  --gradient: 
;
}

.cylinder {
  position: relative;
  width: var(--cylinder-width);
  height: 370px;
  border-radius: 50px/25px;
  top: 25px;
  left: var(--cylinder-left);
  border: var(--border) solid black;
  background: #f30c0c;
  background: -webkit-gradient(linear, left top, right top, color-stop(22%, #f30c0c), color-stop(22%, #fa7ad3), color-stop(43%, #fa7ad3), color-stop(43%, #f30c0c), color-stop(77%, #f30c0c), color-stop(77%, #c52525));
  background: linear-gradient(90deg, #f30c0c 22%, #fa7ad3 22%, #fa7ad3 43%, #f30c0c 43%, #f30c0c 77%, #c52525 77%);
}

.cylinder-before {
  position: relative;
  width: var(--cylinder-width);
  height: 50px;
  border-radius: 50px/25px;
  top: 40px;
  left: var(--cylinder-left);
  border: var(--border) solid black;
  background: #f30c0c;
  background: -webkit-gradient(linear, left top, right top, color-stop(22%, #f30c0c), color-stop(22%, #fa7ad3), color-stop(43%, #fa7ad3), color-stop(43%, #f30c0c), color-stop(77%, #f30c0c), color-stop(77%, #c52525));
  background: linear-gradient(90deg, #f30c0c 22%, #fa7ad3 22%, #fa7ad3 43%, #f30c0c 43%, #f30c0c 77%, #c52525 77%);
}

.cylinder-after {
  position: relative;
  overflow: hidden;
  width: var(--cylinder-width);
  height: 50px;
  border-radius: 50px/25px;
  top: -52px;
  left: calc(var(--cylinder-left) + 2.5px);
  border: var(--border) solid black;
  background: #f30c0c;
  background: -webkit-gradient(linear, left top, right top, color-stop(22%, #f30c0c), color-stop(22%, #fa7ad3), color-stop(43%, #fa7ad3), color-stop(43%, #f30c0c), color-stop(77%, #f30c0c), color-stop(77%, #c52525));
  background: linear-gradient(90deg, #f30c0c 22%, #fa7ad3 22%, #fa7ad3 43%, #f30c0c 43%, #f30c0c 77%, #c52525 77%);
}

.cylinder-after::after {
  position: absolute;
  left: -3px;
  bottom: -1px;
  width: 100%;
  height: 25%;
  border-radius: 50px / 25px;
  background-color: #cc0000;
  border: var(--border) solid black;
  content: "";
}

.image {
  position: absolute;
  width: 100px;
  height: 90px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
}

h3.power, .hi {
  display: none;
  color: white;
}

.instruction {
  display: none;
  color: white;
  font-size: .6rem;
  font-family: Arial, Helvetica, sans-serif;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */